html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
    background: #f8f8f8;
    font-size: 16px;
    background: #353535;
    margin: 0;
    padding: 0
}

.hidden {
    display: none !important;
}

.pull-left {float: left;}
.pull-right {float: right;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#stopwatch {
    background: #333;
    color: #ddd;
    width: 450px;
    height: 100%;
    border: 1px solid #222;
    margin: 15px auto 10px auto;
    border-radius: 5px;
}

#stopwatch .title {
    font-size: 1.5em;
    text-align: center;
}

.timer-container {
    padding: 10px;
}

.lap-container .label {
    margin: 0 5px;
    color: #888;
}

#lap-timer {
    display: block;
    color: #ddd;
    margin-right: 10px;
}

.total-container {
    position: relative;
}

.total-container .label {
    display: block;
    color: #888;
}

#total-timer {
    font-weight: bold;
    display: block;
    font-size: 3.5em;
    text-align: center;
    padding: 10px 0;
}


.buttons li{
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
}

button {
    padding: 10px 20px;
    border: 0;
    background: #555;
    color: #eee;
}

button:hover {
    background: #444;
}

button:hover {
    cursor: pointer;
}

button.success {
    background: #24C741;
}

button.success:hover {
    background: #3EB854;
}

button.danger {
    background: #C72524;
}

button.danger:hover {
    background: #B02D2C;
}

#laps {
    padding: 0;
    margin: 0;
}

#laps li {
    display: block;
    background: #fefefe;
    color: #444;
    list-style-type: none;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

#laps li .label {
    text-align: left;
    color: #777;
}

#laps li .time {
    text-align: right;
    color: #444;
}

@media only screen and (max-width: 450px) {
    #stopwatch {
        width: 100%;
    }
}
